.weekContainer {
  display: flex;
  flex-direction: column;
}
.weekHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.weekHeader {
  text-align: center;
  width: 25%;
  font-weight: bold;
}

.weekItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}
.weekItem:nth-child(2n + 1) {
  background-color: #e2f4ff;
}
.weekCol {
  width: 20%;
  font-size: 0.95rem;
  text-align: center;
  padding: 4px 0 3px;
}
.weekSumContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin: 5px 0;
}
.weekSum {
  text-align: right;
  font-weight: bold;
  padding: 7px 15px;
  border-top: 2px solid #ccc;
}

