.App {
  background-color: #fff;
  height: 100vh;
}
main {
  max-width: 700px;
  margin: 0 auto;
  padding: 0rem 1rem;
}

input[type="time"] {
  font-family: Vazirmatn, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-feature-settings: "ss01";
}
.fa {
  font-family: Vazirmatn, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-feature-settings: "ss01";
}
.fa-number {
  font-feature-settings: "ss01";
}

/* zaman package  */
.css-7qlbje {
  right: 0 !important;
}
.css-11ydt2g {
  justify-content: space-between !important;
  padding: 0 8px;
}
.css-15c7cx9 {
  left: 50% !important;
  transform: translate(-50%);
  z-index: 2000;
}
.css-1e0sis0 {
  z-index: 1400;
}
