body {
  margin: 0;
  font-family: Vazirmatn, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  overflow-y: overlay;
}

input,
button {
  font-family: Vazirmatn, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}

::-webkit-scrollbar {
  width: 20px;
}
/* ::-webkit-scrollbar-track {
  background: white;
} */
::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 60px;
  border: 7px solid white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(60%);
}

code {
  font-family: Vazirmatn, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus-visible {
  outline: none;
}
